<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geeboo.dyna.server.mapper.course.IDynaCourseStatMapper">
    <resultMap id="dtoMap" type="com.geeboo.dyna.server.client.dto.course.DynaCourseStatDTO">
        <id column="dyna_course_stat_id" jdbcType="INTEGER" property="dynaCourseStatId"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="num_view" jdbcType="INTEGER" property="numView"/>
        <result column="num_comment" jdbcType="INTEGER" property="numComment"/>
        <result column="num_reply" jdbcType="INTEGER" property="numReply"/>
        <result column="num_total" jdbcType="INTEGER" property="numTotal"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="modify_time" jdbcType="BIGINT" property="modifyTime"/>
        <result column="modify_by" jdbcType="INTEGER" property="modifyBy"/>
    </resultMap>

    <select id="findById" resultMap="dtoMap">
        <![CDATA[
        select * from dyna_course_stat  where dyna_topic_stat_id = #{dynaTopicStatId}
        ]]>
    </select>

    <insert id="add" parameterType="com.geeboo.dyna.server.client.dto.course.DynaCourseStatDTO" useGeneratedKeys="true" keyProperty="dyna_topic_stat_id">
        <![CDATA[
        insert into `dyna_course_stat`(
                `course_id`
                ,`num_view`
                ,`num_comment`
                ,`num_reply`
                ,`num_total`
                ,`create_time`
                ,`create_by`
                ,`modify_time`
                ,`modify_by`
                )values(
                #{courseId}
                ,#{numView}
                ,#{numComment}
                ,#{numReply}
                ,#{numTotal}
                ,#{createTime}
                ,#{createBy}
                ,#{modifyTime}
                ,#{modifyBy}
                )
        ]]>
    </insert>

    <update id="update" parameterType="com.geeboo.dyna.server.client.dto.course.DynaCourseStatDTO">
        <![CDATA[
        update `dyna_course_stat` set
                            `course_id`=#{courseId}
                ,            `num_view`=#{numView}
                ,            `num_comment`=#{numComment}
                ,            `num_reply`=#{numReply}
                ,            `num_total`=#{numTotal}
                ,            `create_time`=#{createTime}
                ,            `create_by`=#{createBy}
                ,            `modify_time`=#{modifyTime}
                ,            `modify_by`=#{modifyBy}
                where dyna_course_stat_id=#{dynaCourseStatId}
        ]]>
    </update>

    <delete id="deleteDynaCourseStat">
        <![CDATA[
        delete from `dyna_course_stat` where dyna_topic_stat_id=#{id}
        ]]>
    </delete>

    <select id="query" resultMap="dtoMap"  parameterType="com.geeboo.dyna.server.client.dto.course.DynaCourseStatDTO">
        <include refid="sql_query"/>
    </select>

    <select id="findByCondition" resultMap="dtoMap"  parameterType="com.geeboo.dyna.server.client.dto.course.DynaCourseStatDTO">
        <include refid="sql_query"/>
        limit 1
    </select>

    <sql id="sql_query">
        select `dyna_course_stat_id`
        ,`course_id`
        ,`num_view`
        ,`num_comment`
        ,`num_reply`
        ,`num_total`
        ,`create_time`
        ,`create_by`
        ,`modify_time`
        ,`modify_by`
        from `dyna_course_stat`
        <where>
            <if test="numView != null  and '' != numView  ">
                num_view = #{numView}
            </if>
            <if test="numComment != null  and '' != numComment  ">
                and   num_comment = #{numComment}
            </if>
            <if test="numReply != null  and '' != numReply  ">
                and   num_reply = #{numReply}
            </if>
            <if test="numTotal != null  and '' != numTotal  ">
                and   num_total = #{numTotal}
            </if>
        </where>
        order by `dyna_course_stat_id` desc
    </sql>

    <select id="findByCourseId" resultMap="dtoMap" >
        select `dyna_course_stat_id`
        ,`course_id`
        ,`num_view`
        ,`num_comment`
        ,`num_reply`
        ,`num_total`
        from `dyna_course_stat`
        where course_id = #{courseId}
    </select>

    <select id="batchGetStatByCourseId" resultMap="dtoMap"  parameterType="java.util.Set">
        select `dyna_course_stat_id`
        ,`course_id`
        ,`num_view`
        ,`num_comment`
        ,`num_reply`
        ,`num_total`
        from `dyna_course_stat`
        where course_id in
        <foreach item="item" index="index" collection="courseIdSet" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="batchSaveOrUpdateCommentNum" parameterType="java.util.List">
        <![CDATA[
          insert into `dyna_course_stat`(
                `course_id`
                ,`num_view`
                ,`num_comment`
                ,`num_reply`
                ,`num_total`
                ,`create_time`
                ,`create_by`
                ,`modify_time`
                ,`modify_by`
                )values
        ]]>
            <foreach collection="list" item="item" index="index" separator=",">
                (
                #{item.courseId}
                , 0
                , #{item.numComment}
                , 0
                , 0
                , 0
                , 0
                , 0
                , 0
                )
           </foreach >
        <![CDATA[
          on duplicate key update
          num_comment = values(num_comment)
        ]]>
    </insert>
</mapper>
