<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geeboo.dyna.server.mapper.squire.IDynaSquireUserStatMapper">
    <resultMap id="dtoMap" type="com.geeboo.dyna.server.client.dto.squire.DynaSquireUserStatDTO">
        <id column="dyna_squire_user_stat_id" jdbcType="INTEGER" property="dynaSquireUserStatId"/>
                <result column="user_id" jdbcType="INTEGER" property="userId"/>
                <result column="num_squire" jdbcType="INTEGER" property="numSquire"/>
                <result column="create_time" jdbcType="BIGINT" property="createTime"/>
                <result column="create_by" jdbcType="INTEGER" property="createBy"/>
                <result column="modify_time" jdbcType="BIGINT" property="modifyTime"/>
                <result column="modify_by" jdbcType="INTEGER" property="modifyBy"/>
            </resultMap>

    <select id="findById" resultMap="dtoMap">
        <![CDATA[
        select * from dyna_squire_user_stat  where dyna_squire_user_stat_id = #{dynaSquireUserStatId}
        ]]>
    </select>

    <insert id="add" parameterType="com.geeboo.dyna.server.client.dto.squire.DynaSquireUserStatDTO" useGeneratedKeys="true" keyProperty="dynaSquireUserStatId">
        <![CDATA[
        insert into `dyna_squire_user_stat`(
                `user_id`
                ,`num_squire`
                ,`create_time`
                ,`create_by`
                ,`modify_time`
                ,`modify_by`
                )values(
                #{userId}
                ,#{numSquire}
                ,#{createTime}
                ,#{createBy}
                ,#{modifyTime}
                ,#{modifyBy}
                )
        ]]>
    </insert>

    <update id="update" parameterType="com.geeboo.dyna.server.client.dto.squire.DynaSquireUserStatDTO">
        <![CDATA[
        update `dyna_squire_user_stat` set
                            `user_id`=#{userId}
                ,            `num_squire`=#{numSquire}
                ,            `create_time`=#{createTime}
                ,            `create_by`=#{createBy}
                ,            `modify_time`=#{modifyTime}
                ,            `modify_by`=#{modifyBy}
                where dyna_squire_user_stat_id=#{dynaSquireUserStatId}
        ]]>
    </update>

    <delete id="deleteDynaSquireUserStat">
        <![CDATA[
        delete from `dyna_squire_user_stat` where dyna_squire_user_stat_id=#{id}
        ]]>
    </delete>

    <select id="query" resultMap="dtoMap"  parameterType="com.geeboo.dyna.server.client.dto.squire.DynaSquireUserStatDTO">
        <include refid="sql_query"/>
    </select>

    <select id="findByCondition" resultMap="dtoMap"  parameterType="com.geeboo.dyna.server.client.dto.squire.DynaSquireUserStatDTO">
        <include refid="sql_query"/>
        limit 1
    </select>

    <sql id="sql_query">
        select `dyna_squire_user_stat_id`
        ,`user_id`
        ,`num_squire`
        ,`create_time`
        ,`create_by`
        ,`modify_time`
        ,`modify_by`
        from `dyna_squire_user_stat`
        <where>
        </where>
        order by `dyna_squire_user_stat_id` desc
    </sql>

    <select id="findByUserId" resultMap="dtoMap">
        select `dyna_squire_user_stat_id`
        ,`user_id`
        ,`num_squire`
        ,`create_time`
        ,`create_by`
        ,`modify_time`
        ,`modify_by`
        from `dyna_squire_user_stat`
        where user_id = ${userId}
    </select>

    <update id="batchUpdateUserStat" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            <![CDATA[update `dyna_squire_user_stat` set `num_squire`= #{item.numSquire} where dyna_squire_user_stat_id = #{item.dynaSquireUserStatId}]]>
        </foreach>
    </update>
</mapper>
